<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>footer</param-name>
        <param-value>@2022 ICS 2607 Daliuag, Ronan and Entrata, Joshua</param-value>
    </context-param>
    <context-param>
        <param-name>header</param-name>
        <param-value>UST Eating Restaurant</param-value>
    </context-param>
    <listener>
        <listener-class>dateListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>orderServlet</servlet-name>
        <servlet-class>controller.orderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderRedirectServlet</servlet-name>
        <servlet-class>orderRedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>error2Servlet</servlet-name>
        <servlet-class>error2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showReceipt</servlet-name>
        <servlet-class>showReceipt</servlet-class>
        <init-param>
            <param-name>file1</param-name>
            <param-value>MEAL SET A - RECEIPT.pdf</param-value>
        </init-param>
        <init-param>
            <param-name>file2</param-name>
            <param-value>MEAL SET B - RECEIPT.pdf</param-value>
        </init-param>
        <init-param>
            <param-name>file3</param-name>
            <param-value>MEAL SET C - RECEIPT.pdf</param-value>
        </init-param>
        <init-param>
            <param-name>file4</param-name>
            <param-value>MEAL SET D - RECEIPT.pdf</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>receiptRedirectServlet</servlet-name>
        <servlet-class>receiptRedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderConfirmed</servlet-name>
        <servlet-class>orderConfirmed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>returnToOrder</servlet-name>
        <servlet-class>returnToOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>error1Servlet</servlet-name>
        <servlet-class>error1Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderServlet</servlet-name>
        <url-pattern>/orderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderRedirectServlet</servlet-name>
        <url-pattern>/orderRedirectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>error2Servlet</servlet-name>
        <url-pattern>/error2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showReceipt</servlet-name>
        <url-pattern>/showReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>receiptRedirectServlet</servlet-name>
        <url-pattern>/receiptRedirectServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>orderPage.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>orderConfirmed</servlet-name>
        <url-pattern>/orderConfirmed</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/Errors/error1.jsp</location>
    </error-page>
    <error-page>
        <error-code>406</error-code>
        <location>/Errors/error2.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/Errors/error3.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>returnToOrder</servlet-name>
        <url-pattern>/returnToOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>error1Servlet</servlet-name>
        <url-pattern>/error1Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
